<span style="color: {{ block.settings.color }}"> Advanced customer settings & preferences </span> Value:
{{ app.metafields.connectify.metafields }}
{% schema %}
{
  "name": "Customer Metafield",
  "target": "section",
  "stylesheet": "app.css",
  "javascript": "app.js",
  "templates": ["customers/account"],
  "settings": [{ "label": "Color", "id": "color", "type": "color", "default": "#000000" }]
}
{% endschema %}
