<span style="color: {{ block.settings.color }}"> Advanced customer settings & preferences </span>
{% for key in customer.metafields.global %}
  <p>key</p>
{% endfor %}
{% schema %}
{
  "name": "Customer Metafield",
  "target": "section",
  "stylesheet": "app.css",
  "javascript": "app.js",
  "templates": ["customers/account"],
  "settings": [{ "label": "Color", "id": "color", "type": "color", "default": "#000000" }]
}
{% endschema %}
